nav.projects {

  a {
    color: $white;
    &:hover {
      color: $carbon-black;
      &::after {
        background-color: lightgrey;
      }
    }
  }

  .nav-link {
    @media only screen and (min-width: 768px){
      color: $carbon-black;

      &:hover {
        color: $white;

        &::after {
          background-color: $white !important;
        }
      }
    }
  }
}
