@@include('../fixtures/_header.html')
@@include('../fixtures/navs/_nav_about.html')

<main class="about">

  <section class="view-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <h1 class="fade">About</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5">
          <h3 class="mt-2 reveal">Hi, my name is Karly.<br>I'm a web developer based in Chicago.</h3>
        </div>
        <div class="col-12 col-md-6 pl-md-5 reveal">
          <p class="mt-1 reveal">I gained experience writing and organizing content for web pages as a web editor, now I bring that content to life through web development.</p>

          <p class="mt-5 reveal">Working for an online retail store as web editor that I found my passion working on webpages and organizing the content, making sure to pay attention to all the details that may affect a user. Through that experience I also learned a little HTML and CSS, which sparked my interest to learn more programming languages. Six years later, I'm still excited to learn more languages and grow my knowledge. </p>
        </div>
      </div>
      <div class="row hidden-md-down">
        <div class="col-12 text-right">
          <div class="next-btn">
            <a href="#about-bottom">My Services &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="view-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 id="about-bottom" class="h1 fade">What I Know</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 reveal">
          <h3>Web Development</h3>
        </div>
        <div class="col-12 col-md-4 mb-md-5 reveal">
          <ul class="reveal-stagger">
            <li class="reveal-elmt">HTML5/CSS3</li>
            <li class="reveal-elmt">SCSS</li>
            <li class="reveal-elmt">Bootstrap 3+/Foundation 6</li>
            <li class="reveal-elmt">JQuery</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-md-5 reveal">
          <ul class="reveal-stagger">
            <li class="reveal-elmt">JavaScript</li>
            <li class="reveal-elmt">Angular</li>
            <li class="reveal-elmt">Vue.js</li>
            <li class="reveal-elmt">Wordpress</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-md-5 reveal">
          <ul class="reveal-stagger">
            <li class="reveal-elmt">Gulp</li>
            <li class="reveal-elmt">GIT</li>
            <li class="reveal-elmt">Cross-browser markup</li>
            <li class="reveal-elmt">Web Accessibility Standards</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
