@@include('../fixtures/_header.html')
@@include('../fixtures/navs/_nav_home.html')

<main class="main" role="main">

  <section class="img-gallery hidden-sm-down">
    <div class="bg-color proj--1"></div>

    <a class="feat-img" href="/projects/water-quiz.html">
      <div class="img-cont" style="background-image: url('../assets/img/project1.jpg')">
      </div>
    </a>
  </section>

  <section class="project-nav container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 list-cont">
        <ul class="project-list">
          <li class="proj-1 active">
            <a href="/water-quiz.html">
              <img class="hidden-md-up img-fluid mb-5" src="../assets/img/project1.jpg" alt="">
              Water Conservation Quiz
            </a>
          </li>
          <li class="proj-2">
            <a href="/mini.html">
              <img class="hidden-md-up img-fluid my-5" src="../assets/img/project2.jpg" alt="">
              MINI Countryman
            </a>
          </li>
          <li class="proj-3">
            <a href="/pandora.html">
              <img class="hidden-md-up img-fluid my-5" src="../assets/img/project3.jpg" alt="">
              Visit Pandora
            </a>
          </li>
          <!-- <li class="proj-4">
            <a href="/origin.html">
              <img class="hidden-md-up img-fluid my-5" src="../assets/img/project4.jpg" alt="">
              Origin Investments
            </a>
          </li> -->
          <!-- <li class="proj-5">
            <a href="/projects.html">
              <img class="hidden-md-up img-fluid mt-5" src="../assets/img/project5.jpg" alt="">
              Hennessy
            </a>
          </li> -->
          <!-- <li class="proj-5">
            <a href="/horses.html">
              <img class="hidden-md-up img-fluid mt-5" src="../assets/img/project5.jpg" alt="">
              Hold Your Horses
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
