@@include('../fixtures/_header.html')
@@include('../fixtures/navs/_nav_projects.html')

<main class="projects" role="main">

  <section class="hero" class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-7 px-0 feat-img" style="background-image: url('../assets/img/origin/origin_hero.png'); background-position: 5% 50%;">
      </div>
      <div class="col-12 col-md-7 col-xl-5">
        <div class="copy-cont">
          <div class="row">
            <div class="col-12 pb-md-3">
              <h2>Origin Investments</h2>
              <p>A WordPress site for a private equity real estate firm.</p>
            </div>
          </div>
          <div class="row tile-row">
            <div class="col-6 col-md-3">
              <h3 class="h4">Year</h3>
              <p class="hidden-md-up">2017</p>
            </div>
            <div class="col-6 col-md-4">
              <h3 class="h4">Location</h3>
              <p class="hidden-md-up">Chicago</p>
            </div>
            <div class="col-12 col-md-5">
              <h3 class="h4">Client</h3>
              <p class="hidden-md-up">Origin Investments</p>
            </div>
          </div>
          <!-- <div class="mobile-line hidden-md-up"></div> -->
          <div class="row desc-row hidden-sm-down">
            <div class="col-3">
              <p>2017</p>
            </div>
            <div class="col-4">
              <p>Chicago</p>
            </div>
            <div class="col-5">
              <p>Origin Investments</p>
            </div>
          </div>
          <div class="row tile-row">
            <div class="col-12">
              <h3 class="h4">Technologies</h3>
            </div>
          </div>
          <div class="row desc-row">
            <div class="col-12">
              <ul class="tech">
                <li>HTML/SCSS</li>
                <li>WordPress</li>
                <li>PHP</li>
                <li>Highcharts.js</li>
              </ul>
            </div>
          </div>
          <div class="row tile-row">
            <div class="col-12">
              <h3 class="h4">Deliverables</h3>
            </div>
          </div>
          <div class="row desc-row">
            <div class="col-12">
              <ul>
                <li>CMS compatibility</li>
                <li>Interactive charts</li>
                <li>Custom map</li>
                <li>Photo carousels</li>
                <li>Scroll-based animations</li>
                <li>Modals</li>
                <li>Blog Page</li>
                <li>Responsive design</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">CMS Compatibility</span></p>
        <p>A custom WordPress template with the ability to edit content from the admin page.</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <img class="img-fluid reveal" src="../assets/img/origin/origin_cms.png" alt="">
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">Interactive Charts</span></p>
        <p>Several different animated charts and graphs for data visualization.</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <video class="demo reveal" width="100%" height="100%" autoplay loop>
          <source src="../assets/img/origin/origin_chart.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">Custom Map</span></p>
        <p>Stylized Google Map with zoom features and map-marker clustering.</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <video class="demo reveal" width="100%" height="100%" autoplay loop>
          <source src="../assets/img/origin/origin_map.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">Blog Posts</span></p>
        <p>A blog section with a view option to stack posts vertically or on a grid. Each thumbnail links to the specific post, where the content is displayed using the following design template:</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <img class="img-fluid reveal" src="../assets/img/origin/origin_blog.png" alt="">
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">Scroll-Based Animations</span></p>
        <p>Animations appear on the page as users scroll.</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <video class="demo reveal" width="100%" height="100%" autoplay loop>
          <source src="../assets/img/origin/origin_scroll.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row fade">
      <div class="col-10 col-md-7 mx-auto text-center">
        <p><span class="project-line">Responsive Design</span></p>
        <p>Content positioning based on the user's viewport size.</p>
      </div>
    </div>

    <div class="row img-cont">
      <div class="col-10 mx-auto">
        <img class="img-fluid reveal" src="../assets/img/water_quiz/resp.png" alt="">
      </div>
    </div>
  </section>

  <section class="pb-5 mb-5 prev-next">
    <!-- <div class="row">
      <div class="col-12 text-center pb-5">
        <a class="d-line" href="/projects.html"><i class="arrow fa fa-angle-left" aria-hidden="true"></i>Previous</a>
      </div>
    </div> -->
    <div class="row">
      <div class="col-6 text-right px-md-5 pb-5">
        <a class="d-line" href="/projects.html"><i class="arrow fa fa-angle-left" aria-hidden="true"></i>Previous</a>
      </div>
      <div class="col-6 px-md-5 pb-5">
        <a class="d-line" href="/projects.html">Next<i class="arrow next fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
