html, body {
  margin: 0;
  padding: 0;
  background-color: #006600;
  font-family: 'Arvo', serif;
  color: goldenrod;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url("../images/grass.jpg");
  background-size: 35px;
  background-repeat: repeat; }

h1 {
  display: block;
  margin: 1% auto;
  font-size: 3rem;
  text-align: center; }

h2 {
  font-size: 1.75rem;
  text-align: center;
  margin-top: -0.5%;
  margin-bottom: 1.5%; }

h3 {
  display: block;
  position: absolute;
  z-index: 1000000;
  font-size: 6rem;
  margin: auto;
  right: 0px;
  left: 0px;
  text-align: center;
  margin-top: 15%; }

h4 {
  font-size: 3rem;
  letter-spacing: 2.25px;
  width: 58%;
  text-align: center;
  z-index: 2001;
  display: block;
  position: absolute;
  margin-top: 10%;
  left: 52%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-52%); }

button {
  padding: 1.5%;
  font-size: 3rem;
  text-align: center;
  background-color: white;
  border: 2.5px dashed goldenrod;
  box-shadow: 0 0 0 3px white, 0.5px 0.5px 10px black;
  display: block;
  margin: 29% auto 0 auto;
  z-index: 10000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.hide {
  display: none; }

#canvas {
  position: absolute;
  clear: both;
  background-color: white;
  display: block;
  margin: 0 auto 20% auto;
  border: 5px ridge goldenrod;
  right: 0px;
  left: 0px; }

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@-moz-keyframes blinker {
  0% {
    opacity: 0.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
/* Media
----------------------------------------*/
@media (min-width: 1600px) {
  #canvas {
    width: 1600px;
    height: 1040px; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 11rem; } }
@media (max-width: 850px) {
  h1 {
    margin-top: 1%;
    font-size: 2.5rem;
    text-align: center; }

  h2 {
    font-size: 1.8rem; }

  #scoreboard {
    display: block;
    text-align: center; }

  h3 {
    margin-top: 10%;
    font-size: 3rem; }

  #canvas {
    width: 670px;
    height: 436px; } }
@media (max-width: 760px) {
  header {
    margin-top: 5%;
    width: 15%;
    display: block;
    float: left; }

  h1 {
    margin-top: 1%;
    font-size: 1.25rem;
    text-align: center; }

  h2 {
    font-size: 1rem;
    margin-top: -0.5%;
    margin-bottom: 1.5%; }

  #scoreboard {
    display: block;
    margin-top: 40%; }

  #canvas {
    clear: both;
    display: block;
    float: right;
    width: 560px;
    height: 364px;
    margin: 0.75%;
    margin-left: 15%; }

  h3 {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    margin-left: 5%; } }

/*# sourceMappingURL=main.css.map */
