.about {
  background-color: $carbon-black;
  color: white;
  width: 100%;
  min-height: 100vh;

  .h1 {
    padding-bottom: 25px;
  }
  h3 {
    padding-bottom: 25px;
  }
  .next-btn {
    padding-top: 4vw;
    padding-right: 30px;

    a {
      color: $white;

      &:hover {
        color: $red-purple;
      }
    }
  }

  .view-1,
  .view-2,
  .view-3 {
    margin-top: 10vw;
  }
  .view-2 {
    min-height: 500px;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .view-3 {
    margin-bottom: 10vw;
  }

  .next-btn {
    margin-top: 1vw;
  }
}
