.about {
  background-color: $carbon-black;
  color: white;
  width: 100%;
  min-height: 100vh;

  .h1 {
    padding-bottom: 25px;
  }
  h3 {
    padding-bottom: 25px;
  }
  .next-btn {
    padding-top: 4vw;
    padding-right: 30px;

    a {
      color: $white;

      &:hover {
        color: $red-purple;
      }
    }
  }

  .next-btn {
    margin-top: 1vw;
  }

  .view-1,
  .view-2,
  .view-3 {
    margin-top: 7.5vw;
  }
  .view-2 {
    min-height: 500px;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .view-3 {
    margin-bottom: 10vw;

    .experience-cont {
      padding: 70px 0 0 0;

      &:last-child {
        overflow: hidden;
        margin-bottom: 150px;
      }

      .line-cont {
        padding-top: 12px;
        @media only screen and (max-width: 575px) {
          display: none;
        }

        .dot {
          position: relative;
          display: block;
          margin: 0 auto;
          border: 3px solid $white;
          width: 15px;
          height: 15px;
          background-color: $carbon-black;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          z-index: 100;
        }

        .line {
          background-color: $white;
          width: 1px;
          height: 200%;
          top: 15px;
          left: 50%;
          z-index: 2;
          margin: 0 auto;
        }
      }

      .copy-cont {
        @media only screen and (min-width: 768px) {
          margin-left: -15px;
        }
        h3, h4 {
          margin: 0;
          padding: 0;
        }

        .date {
          @media only screen and (min-width: 768px) {
            display: inline-block;
            padding-left: 10px;
          }
        }

        a {
          color: gray;

          &:hover,
          &:active {
            color: $white;
          }
        }

        ul {
          padding-top: 15px;
          padding-left: 3px;

          li {
            position: relative;
            padding-left: 15px;
            line-height: 2.2;
            list-style: none;

            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 5px;
              height: 1px;
              background-color: $white;
              top: 17px;
              left: 0;
            }
          }
        }
      }

    }
  }
}
