.wrap {
	height: 1250px;
	// width: 100%;
	position: relative;
	overflow: hidden;
	color: #222;
	text-align: center;
}

nav {
	position: absolute;
	margin: 0 auto 10% auto;
	z-index: 9000;
	// width: 100%;
	left: 0;
	right: 0;
}

nav label {
	font-weight: lighter;
	color: #222;
	cursor: pointer;
	display: inline-block;
	line-height: 4.25rem;
	padding: 0 1rem;
}

nav label:hover {
	color: white;
	text-shadow: 0px 0px 4px darkgrey;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 120%;
    z-index: 1010;
    padding: 8em 1em 0;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;  
}


[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 2100;
    transition: left .65s ease-out;
}

[id^="slide"]:checked + label {
	text-decoration: underline;
}

input { visibility:hidden; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
	.wrap {
		height: 850px;}
	}
}
/* Larger than tablet */
@media (max-width: 780px) {
	.wrap {
		height: 950px;}
	}
}
/* Larger than desktop */
@media (max-width: 1300px) {
	.wrap {
		height: 1050px;}
}
/* Larger than Desktop HD */
@media (min-width: 1300px) {
 	.wrap {
		height: 1150px;}
}

